@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

.home-bg {
	height: 100vh;
	width: 100vw;
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	/* background-color: #262626; */
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
		url("/background3.jpg");
	background-repeat: no-repeat;
	background-size: 110%;
	background-position: center;
}

.home-wrapper {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	position: relative;
	z-index: 2;
	padding: 2.5vh 2.5vh 2.5vh 7.5vh;
}

.home-outer {
	--alignment: left;
	--flex-alignment: flex-start;
	--border-radius-tl: 0;
	--border-radius-tr: 0;
	--border-radius-br: 0;
	--border-radius-bl: 0;
	align-items: center;
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	justify-content: center;
	max-width: 100%;
	position: relative;
	text-align: var(--alignment);
	z-index: 1;
	background-color: transparent;
	transition: opacity 0.625s ease-in-out 0s;
}

.home-inner {
	--padding-horizontal: 5vh;
	--padding-vertical: 5vh;
	--spacing: 1.5vh;
	--width: 75vh;
	border-radius: var(--border-radius-tl) var(--border-radius-tr)
		var(--border-radius-br) var(--border-radius-bl);
	max-width: 100%;
	position: relative;
	width: var(--width);
	z-index: 1;
	padding: var(--padding-vertical) var(--padding-horizontal);
}

.home-nameplate {
	margin-top: 0 !important;
	margin-bottom: 2vh !important;
	position: relative;
	vertical-align: top;
	position: relative;
	max-width: 100%;
	border-radius: inherit;
	font: inherit;
	--gutters: 2vh;
	--padding-horizontal: 0vh;
	--padding-vertical: 0vh;
	--spacing: 1vh;
	padding: var(--padding-vertical) var(--padding-horizontal);
	max-width: 100%;
	border-radius: inherit;
	text-align: var(--alignment);
}

.home-nameplate .name {
	text-transform: uppercase;
	color: #f3f7f0;
	font-family: "Oswald", sans-serif;
	letter-spacing: 0.25rem;
	width: calc(100% + 0.25rem);
	font-size: 12vh;
	line-height: 1.25;
	font-weight: 700;
	margin-bottom: var(--spacing);
	margin-top: 0 !important;
}

.home-nameplate .title {
	color: #f3f7f0;
	font-family: "Courier New", monospace;
	font-size: 3vh;
	line-height: 1.375;
	font-weight: 500;
	margin-bottom: var(--spacing);
	margin-top: 0 !important;
}

.home-hr {
	margin-bottom: 0.5rem !important;
	margin-top: 0.5rem !important;
	position: relative;
	width: 20%;
	margin-left: 0;
	margin-right: auto;
}

.home-inner p {
	color: #f3f7f0;
	font-family: "Courier New", monospace;
	font-size: 2vh;
	line-height: 1.625;
	font-weight: 400;
}

@keyframes fallAway {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	90% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(1em);
		opacity: 0;
	}
}

.animated-text {
	position: relative;
	color: #f3f7f0;
	font-family: "Courier New", monospace;
	/* line-height: 1.625; */
	font-weight: 400;
	display: inline-block;
	animation: fallAway 10s infinite;
	vertical-align: top;
}

.home-links {
	font-size: 4vh;
	gap: 2vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: var(--flex-alignment);
	letter-spacing: 0;
	padding: 0;
	list-style: none;
}

.home-links li a img {
	height: 100%;
	width: 100%;
	transition: fill 0.25s ease;
}

.menu-container {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.02rem;
	font-size: 3vh;
	font-weight: 500;
	padding-right: 5vh;
	color: #f3f7f0;
}

/* this line of code resets the bg so it actually fills the window */
html,
body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
}
